html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
  }
 

  .navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  .navbar a{
    font-size: 1.3rem;
  }


  .color-card{
      background-color: black;
  }

  i{
    font-size: 1.7rem;
  }

  .destacados img{
    height: 9rem;
  }

  .modal-text{
    font-weight: 700;
    color: rgb(8, 118, 126);
  }
  .modal-text #user-name {
    font-weight: 400;
    color: rgb(82, 80, 80);
  }
  .modal-text #user-subject {
    font-weight: 400;
    color: rgb(82, 80, 80);
  }
  .modal-text #user-message {
    font-weight: 400;
    color: rgb(82, 80, 80);
  }

  footer i{
    color: white;
  }

  